<form [formGroup]="tempForm">
  <b>Book Form:</b>
  &nbsp;
  <mat-form-field appearance="outline">
    <input matInput formControlName="title" placeholder="title">
    <mat-error *ngIf="tempForm.get('title')?.hasError('required')">      
      <strong>*title is required</strong>
    </mat-error>
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="outline">
    <input matInput formControlName="author" placeholder="author">
    <mat-error *ngIf="tempForm.get('author')?.hasError('required')">      
      <strong>*author is required</strong>
    </mat-error>
  </mat-form-field>
  &nbsp;
  <button mat-raised-button color="primary" (click)="submit()">submit</button>
  &nbsp;
</form>

<mat-spinner *ngIf="apiInProgress"></mat-spinner>
<div class="center" *ngIf="!apiInProgress">
  <mat-table [dataSource]="dataSource">
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title.</mat-header-cell>
      <mat-cell *matCellDef="let book"> {{book?.book_title}} </mat-cell>
    </ng-container>
    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Author</mat-header-cell>
      <mat-cell *matCellDef="let book"> {{book?.book_author}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]"
                 [pageSize]="10"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
